/* navbar */
.navbar-link:focus{
   color: navy !important;
    border-bottom: 5px solid orangered;

}

.navbar-link:hover{
    color: navy !important;
    /* background-color: rgb(72, 72, 155) !important;
    border-radius: 16px; */
 }


.card .image1{
    transition: ease ;
}
.card:hover .image1{
    scale: 1.05;
    transition: ease-in-out;
}

.history-number {
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin-top: -40px;
}

/* image overlay effect - hall of fame */
.card-container{
    position: relative;
}

.card-text-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,white,orange);
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-evenly ;
    opacity: 0;
    transition: 0.6s;
}
.card-text-container:hover{
    opacity: 1;
    transition: 0.6s;
}

.card-text-container:hover h6{
    color: whitesmoke;
    font-size: 22px;
    font-weight: bold;
    text-align: start;
}

.card-text-container:hover p{
    color: navy;
    font-weight: 600;
}

.card-text-container:hover .btn{
    /* outline: 1px solid black; */
    text-align: start;

}

@media only screen and (max-width: 600px) {
    .large-screen{
        display: none;
    }
    .mobile{
        display: block;
    }
   .mobileSwiper{
    
    display: flex;
    justify-content: center;
    align-items: center;
   }
}
/* for medium devices */
@media only screen and (min-width: 601px) and (max-width: 991px) {
    .large-screen{
        display: block;
    }
    .mobile{
        display: none;
    }
    
  }

/* For large screens */
@media only screen and (min-width: 992px) {
    .large-screen{
        display: block;
    }
    .mobile{
        display: none;
    }
}


  